.line-screen {
	height: 8px;
	background: #9570fe;
	border-radius: 8px;
}
tbody tr td input[type="checkbox"] {
	/* width: 20px; */
	margin: 10px;
}
tbody tr td input[type="checkbox"]:before {
	margin-top: -13px;
	content: "";
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border-radius: 8px;
	background-color: #d6d8e7;
}
tbody tr td input[type="checkbox"]:checked:before {
	background-color: #5f2eea;
	font-size: 15px;
}
.availableBox {
	width: 26px;
	height: 26px;
	border-radius: 8px;
	background-color: #d6d8e7;
}
.selectBox {
	width: 26px;
	height: 26px;
	border-radius: 8px;
	background-color: #5f2eea;
}
.loveBox {
	width: 26px;
	height: 26px;
	border-radius: 8px;
	background-color: #f589d7;
}
.soldBox {
	width: 26px;
	height: 26px;
	border-radius: 8px;
	background-color: #6e7191;
}
.checkout button {
	border-radius: 16px !important;
	min-height: 56px;
}
.order-seat {
	border-radius: 24px !important;
}
